body {
  font-family: sans-serif;
}

.bi-brightness-high-fill {
  font-size: 80px;
}
.bold {
  font-weight: bold;
}

.list-group-item {
  width: 300px;
}

.container {
  display: block;
  border: 0;
  max-width: 1200px;
}

body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/037/919/original/bonnie-kitahata-9aHj3ZAETNA-unsplash.jpg?1655747365");
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.temperature {
  font-size: 56px;
  font-weight: 500;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

.btn-primary {
  border: none;
  background-color: rgb(52, 52, 187);
}

.btn-outline-light:focus {
  color: rgb(52, 52, 187);
  box-shadow: none;
  outline: none;
}

.btn-outline-light:active {
  color: rgb(52, 52, 187);
  box-shadow: none;
  outline: none;
}

.coder {
  font-size: 14px;
  font-weight: 400;
  opacity: 100%;
  font-family: "Space Mono", monospace;
}

h5 {
  font-size: 16px;
  font-weight: 600;
}

.icon {
  font-size: 24px;
}

.units {
  position: relative;
  top: -28px;
}

#celsius-link {
  text-decoration: none;
}

#celsius-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#celsius-link:active {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

#fahrenheit-link {
  text-decoration: none;
}

#fahrenheit-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#fahrenheit-link:active {
  text-decoration: none;
  cursor: pointer;
  color: white;