body {
  font-family: 'Noto Sans', sans-serif;
}

.container {
  display: block;
  border: 0;
  max-width: 1200px;
  margin: 20px auto;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.day {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.night {
  background-image: linear-gradient(135deg, #2b5876 0%, #4e4376 100%);
}

#icon {
  width: 80px;
  height: 80px;
}

.icon {
  font-size: 24px;
}

.bold {
  font-weight: 700;
}

.list-group-item {
  width: 300px;
}

.temperature {
  font-size: 56px;
  line-height: 100%;
  font-weight: 500;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border: none;
}

input {
  border-radius: 24px;
}

.btn-primary {
  border: none;
  background-color: #2b43ab;
  width: 172px;
}

.btn-primary:hover {
  background-color: #0a2084;
  transition: all 0.2s ease;
}

.btn-primary:focus {
  background-color: #0a2084;
  transition: all 0.2s ease;
}

.btn-outline-light {
  color: white;
}

.btn-outline-light:hover {
  color: #0a2084;
  background-color: white;
  transition: all 0.2s ease;
}

.btn-outline-light:focus {
  color: #0a2084;
  background-color: white;
  transition: all 0.2s ease;
}

.coder {
  font-size: 14px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1em;
}

.min {
  color: rgba(255, 255, 255, 0.6);
}

.units {
  position: relative;
  top: -28px;
}

#description:first-letter {
  text-transform: capitalize;
}

.weather-temperature {
  margin-bottom: 1em;
}

.weather-temperature .active {
  text-decoration: none;
}

.weather-temperature .active:hover {
  cursor: default;
  text-decoration: none;
  transition: all 0.2s ease;
}

.source-link {
  text-decoration: underline;
}

.source-link:hover {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
