.bi-brightness-high-fill {
  font-size: 80px;
}
.bold {
  font-weight: bold;
}

.list-group-item {
  width: 300px;
}

.container {
  display: block;
  border: 0;
  max-width: 1200px;
}

body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/037/919/original/bonnie-kitahata-9aHj3ZAETNA-unsplash.jpg?1655747365");
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

.temperature {
  font-size: 56px;
  font-weight: 500;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border: none;
}

.btn-primary {
  border: none;
  background-color: rgb(52, 52, 187);
}

.btn-outline-light:focus {
  color: rgb(52, 52, 187);
  box-shadow: none;
  outline: none;
}

.btn-outline-light:hover {
  color: rgb(52, 52, 187);
  box-shadow: none;
  outline: none;
}

.btn-outline-light:active {
  color: rgb(52, 52, 187);
  box-shadow: none;
  outline: none;
}

.coder {
  font-size: 14px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

.min {
  opacity: 60%;
}

.icon {
  font-size: 24px;
}

.units {
  position: relative;
  top: -28px;
}

#description:first-letter {
  text-transform: capitalize;
}

.weather-temperature .active {
  text-decoration: none;
}

.weather-temperature .active:hover {
  cursor: default;
  text-decoration: none;
}

.source-link {
  text-decoration: underline;
}

.source-link:hover {
  text-decoration: none;
  cursor: pointer;
}